.about-layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.about-what {
  background-color: #666;
  width: 400px;
}

.about-icons {
  padding: 10px;
}

.about-blocks {
  background-color: #666;
  width: 200px;
  height: 200px;
  margin: 10px;
}

.about-desc {
  background-color: #333;
  width: 200px;
  height: 200px;
  margin: 10px;
}

.about-blocks:hover {
  background-color: #CC0000;
  cursor: default;
}

.about-desc:hover {
  background-color: #666;
  cursor: default;
}
