.about-layout
  display: flex
  width: 100%
  flex: 1 1

.about-what
  background-color: rgba(0, 0, 0, 0.5)
  padding: 10px
  margin: 0
  text-align left;

.about-icons
  padding: 10px

.about-blocks
  background-color: rgba(0, 0, 0, 0.5)
  width: calc(100% - 30px)
  max-width: 250px
  margin: 20px 10px 10px 10px
  padding: 5px
  +below(1000px)
    width: 250px

.about-desc
  width: calc(100% - 30px)
  max-width: 250px
  height: 125px
  margin: 10px 10px 20px 10px
  padding: 10px
  top: 10px
  +below(1000px)
    width: 250px

.about-blocks:hover
  background-color: #FF6000
  cursor: pointer

.about-desc:hover
  background-color: rgba(0, 0, 0, 0.5)
  cursor: pointer

#about-block-cred
  background-color: rgba(0, 0, 0, 0.5)
  width: 18vw
  height: 230px
  margin: 10px
  padding: 5px
