.about-layout {
  display: flex;
  width: 100%;
  flex: 1 1;
}

.about-what {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin: 0;
}

.about-icons {
  padding: 10px;
}

.about-blocks {
  background-color: rgba(0, 0, 0, 0.5);
  width: 250px;
  height: 250px;
  margin: 20px 10px 10px 10px;
  padding: 5px;
}

.about-desc {
  width: 250px;
  height: 125px;
  margin: 10px 10px 20px 10px;
  padding: 5px;
  top: 10px;
}

.about-blocks:hover {
  background-color: #CC0000;
  cursor: pointer;
}

.about-desc:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#about-block-cred {
  background-color: rgba(0, 0, 0, 0.5);
  width: 18vw;
  height: 230px;
  margin: 10px;
  padding: 5px;
}
