.autocomplete-form {
  margin: 10px 0;
  width: 250px;
}

.autocomplete-form input[type="text"] {
  margin: 0;
  width: 250px;
  padding: 20px;
}

.autocomplete-item-container {
  width: 290px !important;
}

.autocomplete-match {
  text-decoration: underline;
}

.autocomplete-item.active, .autocomplete-item:hover {
  background-color: #444;
  cursor: pointer;
}

.template-container {
  z-index: 2;
}
