.checkout-selector-header
  padding 10px
  margin-right 5px
  background-color #333
  border-bottom solid 2px white

.checkout-selector-header.active
  background-color #FF6000

.checkout-selector-header:last-child
  margin-right 0

.checkout-selector-header:hover
  cursor pointer

.checkout-selector-body
  background-color #333
  padding 10px
  overflow-y auto
  max-height calc(100vh - 202px)

.checkout-selector-tier
  padding 10px
  background-color #111
  margin-bottom 10px

.checkout-selector-tier.active
  background-color #FF6000

.checkout-selector-tier:hover
  cursor pointer

.checkout-selector-tier-header
  margin-bottom 10px
  padding 5px 0

.checkout-selector-tier-body
  line-height 1.5
  font-size 12px

.checkout-selector-tier-footer
  text-align right
  margin-bottom 10px

.checkout-main
  background-color #333
  padding 20px
  margin-right 20px
