.module-block {
  background-color: #666;
  margin-bottom: 20px;
  padding: 10px;
  position: relative;
}

.module-block:hover {
  cursor: pointer;
}

.module-block-label {
  margin-bottom: 10px;
}

.module-block.active {
  background-color: #222;
}

.module-block.active .fa:not(.fa-minus) {
  color: #FF6000;
}

.module-block-header {
  font-size: 1.2em;
  margin-left: 20px;
}

.module-block-overlay {
  position: absolute;
  right: 10px;
  top: 10px;
}

.game-bracket-container {
  width: 100%;
  justify-content: space-between;
  background-color: #666;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.game-bracket-container > * {
  margin-bottom: 15px;
}

.format-select {
  font-size: 20px;
}

.format-select:hover {
  cursor: pointer;
}

.format-select.active {
  font-weight: bold;
  color: #00BDFF;
}

.edit-modules:after {
  content: auto
}
