.module-block:hover
  cursor pointer

.module-block-label
  margin-bottom 10px

.module-block-header
  margin-left 16px
  margin-right 10px

.module-block-overlay
  position absolute
  right 10px
  top 10px

.game-bracket-container
  width 100%
  justify-content space-between
  background-color #666
  padding 10px
  box-sizing border-box
  margin-bottom 10px

.game-bracket-container > *
  margin-bottom 15px


.format-select
  font-size 20px


.format-select:hover
  cursor pointer


.format-select.active
  font-weight bold
  color #00BDFF


.edit-modules:after
  content auto

.info-title-container
  padding 20px
  background-color #333
  margin-right 20px

.info-title
  padding 20px
  background-color #222
  width 150px
  margin-bottom 10px

.info-title:hover
  cursor pointer

.info-title:last-child
  margin-bottom 0

.info-title.active
  background-color #FF6000

.info-description
  padding 20px
  background-color #333
  min-height 200px

.info-description p
  line-height 1.5
  margin-bottom 10px
  font-size 1em
  +below(600px)
    font-size 0.8em

.info-description p:last-child
  margin-bottom 0

.mod-block-toggle
  width: 10px
  height: 20px
  background-color: #111
  padding 2px
  box-sizing content-box

.mod-block-control
  width 100%
  height 50%

.generic-block
  width calc(33% - 20px)
  margin-right 10px
  padding 20px
  background-color #111
  display flex
  flex-direction column
  align-items center

.generic-block:nth-child(3n)
  margin-right 0

.generic-block:hover
  cursor pointer

.generic-block h4
  margin-bottom 20px
