.currency-option:hover {
  background-color: #444;
}

.currency-option {
  padding: 20px;
}

.payment-option-block {
  padding: 20px;
  background-color: #333;
  align-self: flex-start;
  margin: 10px;
}

.payment-option-block:hover, .payment-option-block.active {
  background-color: #555;
}

.payment-option-text {
  margin-top: 10px;
  font-size: 1.5em;
}
