.discover-selector-square {
  width: 14px;
  height: 14px;
  border: 2px solid white;
  margin: 4px 20px 4px 0;
}

.discover-selector-square:hover {
  cursor: pointer;
  background-color: #666;
}

.discover-selector-square.active {
  background-color: white;
  border-color: white;
}

.promoted-event-block img {
  width: 100%;
  height: auto;
  position: relative;
  margin: 10px 0;
  box-sizing: border-box;
  cursor: pointer;
}

.discover-details {
  padding-left: 20px;
}

.promotion-animation.in {
  animation: slidein 1s;
  -moz-animation: slidein 1s;
  -webkit-animation: slidein 1s;
  -o-animation: slidein 1s;
  opacity: 1;
}

.promotion-animation.out {
  animation: slideout 0.5s;
  -moz-animation: slideout 0.5s;
  -webkit-animation: slideout 0.5s;
  -o-animation: slideout 0.5s;
}

@keyframes slidein {
    from {opacity:0; -ms-transform: translateX(-5px); -webkit-transform: translateX(-5px); transform: translateX(-5px);}
    to {opacity:1; -ms-transform: translateX(0); -webkit-transform: translateX(0); transform: translateX(0);}
}
@-moz-keyframes slidein {
    from {opacity:0; -ms-transform: translateX(-5px); -webkit-transform: translateX(-5px); transform: translateX(-5px);}
    to {opacity:1; -ms-transform: translateX(0); -webkit-transform: translateX(0); transform: translateX(0);}
}
@-webkit-keyframes slidein {
    from {opacity:0; -ms-transform: translateX(-5px); -webkit-transform: translateX(-5px); transform: translateX(-5px);}
    to {opacity:1; -ms-transform: translateX(0); -webkit-transform: translateX(0); transform: translateX(0);}
}
@-o-keyframes slidein {
    from {opacity:0; -ms-transform: translateX(-5px); -webkit-transform: translateX(-5px); transform: translateX(-5px);}
    to {opacity: 1; -ms-transform: translateX(0); -webkit-transform: translateX(0); transform: translateX(0);}
}

@keyframes slideout {
    from {opacity:1; -ms-transform: translateX(0); -webkit-transform: translateX(0); transform: translateX(0);}
    to {opacity:0; -ms-transform: translateX(-5px); -webkit-transform: translateX(-5px); transform: translateX(-5px);}
}
@-moz-keyframes slideout {
    from {opacity:1; -ms-transform: translateX(0); -webkit-transform: translateX(0); transform: translateX(0);}
    to {opacity:0; -ms-transform: translateX(5px); -webkit-transform: translateX(5px); transform: translateX(5px);}
}
@-webkit-keyframes slideout {
    from {opacity:1; -ms-transform: translateX(0); -webkit-transform: translateX(0); transform: translateX(0);}
    to {opacity:0; -ms-transform: translateX(5px); -webkit-transform: translateX(5px); transform: translateX(5px);}
}
@-o-keyframes slideout {
    from {opacity:1; -ms-transform: translateX(0); -webkit-transform: translateX(0); transform: translateX(0);}
    to {opacity:0; -ms-transform: translateX(5px); -webkit-transform: translateX(5px); transform: translateX(5px);}
}
