.editor-button
  background-color #333
  padding 10px
  margin-right 10px

.editor-button:last-child
  margin-right 0

.editor-button.active
  background-color #111

.editor-button:hover
  cursor pointer

.DraftEditor-root
  margin-top 10px
  background-color #111
  padding 20px
