
.submodule-bg
  background-color rgba(0, 0, 0, 0.5)
  padding 20px
  min-width 300px
  width 100%
  margin 0 auto
  max-height calc(100vh - 320px)
  overflow-y auto

.submodule-section
  margin-right 20px
  background-color #444
  padding 20px


.submodule-section:last-child
  margin-right 0


.submodule-section span.section
  font-size 2em
