.side-tab-container {
  display: flex;
  width: 100%;
  flex: 1 1;
}

.side-tab-item-container {
  background-color: #222;
  min-width: 200px;
}

.side-tab-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 28px 0 28px 15px;
  border: 2px transparent solid;
  font-size: 18px;
}

.side-tab-item.active {
  background-color: #CC0000;
}

.side-tab-item.active:hover {
  background-color: #CC0000;
}

.side-tab-item:hover {
  cursor: pointer;
  border: 2px #CC0000 solid;
}

.side-tab-content {
  flex: 1 1;
  padding: 20px;
}

.side-tab-button {
  margin-top: 20px;
  margin-left: 20px;
}

.side-tab-content.hidden {
  display: none;
}

.side-tab-panel {
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  background-color: #444;
}
