.participant-panel-container {
  display: flex;
  flex-wrap: wrap;
}

.participant-panel {
  width: 300px;
  height: 400px;
  background-color: #666;
  display: inline-block;
  margin: 20px;
}

.participant-panel-image {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 5px #333;
  background-color: #333;
  position: relative;
}

.participant-panel-overlay {
  position: absolute;
  width: 300px;
  height: 300px;
  padding: 15px;
  box-sizing: border-box;
}

.participant-panel-image img {
  width: 100%;
  height: 100%;
}

.participant-panel-desc {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.participant-panel:hover {
  cursor: pointer;
}

.leaderboard-entry, .leaderboard-entry-header {
  min-width: 300px;
  width: 75%;
  padding: 20px;
}

.leaderboard-entry-header {
  font-size: 18px;
}

.leaderboard-entry:nth-child(odd) {
  background-color: #444;
}

.leaderboard-entry:nth-child(even) {
  background-color: #555;
}

.leaderboard-photo {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  border: solid 2px black;
}

.leaderboard-top img {
  border-radius: 100%;
  box-sizing: border-box;
}

.leaderboard-third img {
  width: 50%;
  height: auto;
  border: solid 5px #CD7F32;
}

.leaderboard-second img {
  width: 75%;
  height: auto;
  border: solid 5px silver;
}

.leaderboard-first img {
  width: 100%;
  height: auto;
  border: solid 5px gold;
}
