.box .row.footer {
  flex: 0 1 40px;
}

.footer {
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  position: fixed;
}

.footer-div {
  margin: 25px 4px;
  cursor: default;
  line-height: normal;
}

.foot-room {
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.foot-room--unfixed {
  position: relative;
  transform: translateY(0);
}
.foot-room--scrolled {
  transition: transform 200ms ease-in-out;
}
.foot-room--unpinned {
  position: fixed;
  transform: translateY(-100%);
}
.foot-room--pinned {
  position: fixed;
  transform: translateY(0%);
}

/*social plugins*/
.icon.fa {
  font-size: 36px;
  margin: 7px 2px;
  color: white;
}

.icon.fa:hover {
  cursor: pointer;
}

.snapchat:hover {
  color: #FFFC00;
}

.instagram:hover {
  color: #517FA4;
}

.reddit:hover {
  color: #CEE3F8;
}

.facebook:hover {
  color: #3B5998;
}

.twitch.fa {
  font-size: 34px;
  margin-top: 2px;
}

.twitch:hover {
  color: #6441A5;
}

.twitter:hover {
  color: #55ACEE;
}

.youtube:hover {
  color: #CD201F;
}
