.box .row.footer
  flex 0 1 40px


.footer
  justify-content center
  background rgba(0, 0, 0, 0.5)
  z-index 1
  bottom 0
  width 100%
  height 50px
  position fixed
  +below(768px)
    height 100px

.footer-hub-pad
  padding calc((50px - 15px) / 2) 5px
  cursor pointer
  font-size 12px
  color white
  +below(768px)
    font-size 1.5em

.footer.fa
  +below(768px)
    font-size 3em !important
    margin-right 10px !important

// @media only screen
//   and (max-device-width 768px)
//     .footer
//       height 100px
//
//     .footer .fa
//       font-size 3em !important
//       margin-right 10px !important
//
//
//     .footer-hub-pad
//       font-size 1.5em
//


.footer-hub-pad:hover
  background-color black
  cursor pointer
  color lb


#footer.headroom
  bottom 0
  left 0
  right 0
  top 100%

#footer.headroom--unfixed
  position relative
  transform translateY(0)

#footer.headroom--scrolled
  transition transform 200ms ease-in-out

#footer.headroom--unpinned
  position fixed

#footer.headroom--pinned
  position fixed
  transform translateY(60px)
  opacity 0


/*social plugins*/
// @media only screen
//   and (min-device-width 768px)
//     .social-icon-bg
//       width 40px
//       height 50px

.social-icon-bg
  +above(768px)
    width 40px
    height 50px
  &:hover
    background-color rgba(0, 0, 0, 0.5)
    cursor pointer

.social-icon.fa
  font-size 24px
  margin 0 2px
  color white
  &:hover
    cursor pointer

.social-icon-bg:hover .snapchat
  color #FFFC00


.social-icon-bg:hover .instagram
  color #517FA4


.social-icon-bg:hover .reddit
  color #CEE3F8


.social-icon-bg:hover .facebook
  color #3B5998


.twitch.fa
  font-size 24px
  margin 0 2px


.social-icon-bg:hover .twitch
  color #6441A5


.social-icon-bg:hover .twitter
  color #55ACEE


.social-icon-bg:hover .youtube
  color #CD201F
