.box .row.footer {
  flex: 0 1 40px;
}

.footer {
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  padding: 10px 0px;
  bottom: 0;
  width: 100%;
  height: 50px;
  position: fixed;
}

.footer-div {
  margin: 0 4px;
  cursor: default;
  line-height: normal;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/*social plugins*/
.icon.fa {
  font-size: 36px;
  margin: 7px 2px;
  color: white;
}

.icon.fa:hover {
  cursor: pointer;
}

.snapchat:hover {
  color: #FFFC00;
}

.instagram:hover {
  color: #517FA4;
}

.reddit:hover {
  color: #CEE3F8;
}

.facebook:hover {
  color: #3B5998;
}

.twitch.fa {
  font-size: 34px;
  margin-top: 2px;
}

.twitch:hover {
  color: #6441A5;
}

.twitter:hover {
  color: #55ACEE;
}

.youtube:hover {
  color: #CD201F;
}
