.box .row.footer {
  flex: 0 1 40px;
}

.footer {
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  bottom: 0;
  width: 100%;
  height: 50px;
  position: fixed;
}

.footer-hub-pad {
  padding: calc((50px - 15px) / 2) 5px;
  cursor: pointer;
  font-size: 12px;
}

.footer-hub-pad:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #CC0000;
  cursor: pointer;
}

#footer.headroom {
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
}
#footer.headroom--unfixed {
  position: relative;
  transform: translateY(0);
}
#footer.headroom--scrolled {
  transition: transform 200ms ease-in-out;
}
#footer.headroom--unpinned {
  position: fixed;
}
#footer.headroom--pinned {
  position: fixed;
  transform: translateY(60px);
  opacity: 0;
}

/*social plugins*/
.social-icon-bg {
  width: 40px;
  height: 50px;
}

.social-icon-bg:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.social-icon.fa {
  font-size: 24px;
  margin: 0 2px;
  color: white;
}

.social-icon.fa:hover {
  cursor: pointer;
}

.snapchat.active {
  color: #FFFC00;
}

.instagram.active {
  color: #517FA4;
}

.reddit.active {
  color: #CEE3F8;
}

.facebook.active {
  color: #3B5998;
}

.twitch.fa {
  font-size: 24px;
  margin: 0 2px;
}

.twitch.active {
  color: #6441A5;
}

.twitter.active {
  color: #55ACEE;
}

.youtube.active {
  color: #CD201F;
}
