.game-block-container
  padding 20px


.game-block
  width 30%
  display inline-block
  margin 10px
  position relative


.game-block img
  width 100%
  height auto


.game-block-overlay
  position absolute
  width 100%
  height 100%
  top 0
  left 0


.game-block-selected
  position absolute
  right 0
  bottom 0
  width 0
  height 0
  border-style solid
  border-width 0 0 100px 100px
  border-color transparent transparent #1E4D1E transparent


.game-block-selected > span
  position absolute
  bottom -90px
  right 10px
  font-size 40px


.game-icon-container
  display flex
  align-items center
  flex-wrap wrap


.game-icon
  border-radius 100%
  width 30px
  height 30px
  display inline-flex
  justify-content center
  align-items center


.game-icon.add:hover
  -webkit-transition all 0.2s ease-out
  -moz-transition all 0.2s ease-out
  -o-transition all 0.2s ease-out
  transition all 0.2s ease-out
  background-color white


.game-icon.add:hover span
  -webkit-transition all 0.2s ease-out
  -moz-transition all 0.2s ease-out
  -o-transition all 0.2s ease-out
  transition all 0.2s ease-out
  color black


.game-icon:not(first-child)
  margin-left 10px


.approval-table img
  max-width 400px
  height auto


.template-container
  width 100%
  position absolute
  background-color #111;
  padding 20px;


.game-result-template, .user-result-template
  height 60px
  background-color #111
  margin-bottom 20px

.game-result-template:hover, .user-result-template:hover
  cursor: pointer

.game-result-template:last-child, .user-result-template:last-child
  margin-bottom 0


.game-result-template:hover .user-result-template:hover
  cursor pointer
  background-color #222


.user-result-template img
  width 50px
  height 50px


.game-result-template img
  width 45px
  height 60px

.game
  width calc((100% - (20px * 8)) / 9)
  margin-right 20px
  margin-bottom 20px
  background-color #222
  +between(800px, 1200px)
    width calc((100% - (20px * 5)) / 6)
  +between(600px, 800px)
    width calc((100% - (20px * 3)) / 4)
  +below(600px)
    width 100%
    margin-right 0

.game:hover
  cursor pointer

+above(1200px)
  .game:nth-child(9n)
    margin-right 0
+between(800px, 1200px)
  .game:nth-child(6n)
    margin-right 0
+between(600px, 800px)
  .game:nth-child(4n)
    margin-right 0

.game img
  width 100%

.game .game-title
  font-size 20px
  font-weight bold
  margin-bottom 10px
  text-align center
  max-width: 100%
  overflow-x hidden
  white-space nowrap
  text-overflow ellipsis

.overflow:hover
  animation marquee 5s linear infinite

@keyframes marquee {
  from  { text-indent:  0% }
  to    { text-indent: -120% }
}


.game .game-description
  padding 10px
  padding-top 5px

.game .game-count
  font-size 14px
  font-weight normal
  padding-right 5px
  margin-right 5px
  border-right solid 2px white

.game-count:last-child
  padding-right 0
  border-right none
  margin-right 0

.createGame
  color #FF6000
  border-color #ff6000

.createGame:not(.inactive):hover
  box-shadow 0 0 10px #FF6000
