/* Header style */
.box .row.header {
  flex: 0 1 auto;
}

header {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 20px 20px;
  display: flex;
  justify-content: flex-end;
  height: 70px;
  background: rgba(0, 0, 0, 0.9);
}

header img {
  width: 60px;
  height: auto;
}

header img:hover {
  cursor: pointer;
}

@media only screen
  and (max-device-width: 768px) {
    header {
      height: 140px;
    }
    header img {
      width: 120px;
      height: auto;
    }
}

.event-block:hover {
  cursor: pointer;
}

.event-block:hover h2 {
  color: #FF6000;
}

#header.headroom {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#header.headroom--scrolled {
  top: 0;
}

#header.headroom--unfixed {
  position: fixed;
}

#header.headroom--unpinned {
  position: fixed;
}

#header.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}

.head-credentials {
  display: flex;
  flex-direction: row-reverse;
}

.header-button-margin {
  margin: 12px 5px;
}

.hub:hover {
  cursor: pointer;
  -webkit-transition: border-bottom 0.5s ease-out;
  -moz-transition: border-bottom 0.5s ease-out;
  -o-transition: border-bottom 0.5s ease-out;
  transition: border-bottom 0.5s ease-out;
  border-bottom: rgba(255,96,0,0.5) 2px solid;
}

.hub.active{
  border-bottom: #FF6000 2px solid;
}

.hub {
  font-size: 18px;
  margin: 0 10px;
  padding: 4px 0 2px 0;
  border-bottom: transparent 2px solid;
  color: white;
}
