.table-row
  padding 20px
  border solid 2px white
  border-bottom none

.table-row:last-child
  border-bottom solid 2px white

.table-row:nth-child(2n)
  background-color #666

.table-row:nth-child(2n - 1)
  background-color #333
