hr
	margin-top: 10px

.toast-top-right
	top 80px !important
	z-index 5;

.sidebar
	position: fixed !important;

// For Google Autocomplete styles
.pac-container
	background-color: #111

.pac-item
	background-color: #111
	color: white
	border-color: #666

.pac-item:hover
	background-color: #222

div[role="presentation"] + div
	overflow-y hidden !important
