// External imports
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
@import "https://fonts.googleapis.com/css?family=Roboto:400,700";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";

/* CSS declarations go here */
@import "variables"

*
  color white
  font-family 'Roboto'

html, body, #react-root, #app
  margin 0
  background-color #333
  overflow-x hidden

body
  height 100%

button:focus
  outline 0

figure
  margin: 0

.marquee
  overflow-x hidden
  overflow-y hidden
  white-space nowrap
  text-overflow ellipsis

.marquee:hover
  animation marquee 5s linear infinite

@keyframes marquee {
  from  { text-indent:  0% }
  to    { text-indent: -120% }
}

.footer-bar.mobile
  height 126px

.pointerChange
  cursor:pointer

.reset-highlight
  border-color #FF6000

.reset-highlight:hover
  box-shadow 0 0 10px  #FF6000

.round-spacing
  min-width 186px;

.spacing
  margin-right 18px
  margin-left 18px

.start-button-hide
  display none

.button-score
  font-size 24px
  padding 10px
  background-color #333
  margin-left 10px
  margin-right 10px
  margin-top 20px
  margin-bottom 20px

.box
  display flex
  flex-flow column
  min-height calc(100vh - 200px)
  position: relative;

.content
  margin-bottom 50px

/* Flex rows and column stuff */

.row
  margin-left 0
  margin-right 0

.row, .col, .col-to-row, .row-to-col
  display flex

.row:before, .row:after
  display none

.col, .col-to-row
  flex-direction column

.col-to-row
  +below(1000px)
    flex-direction: row

.row-to-col
  +below(1000px)
    flex-direction: column

.create-row
  display flex
  +below(1450px)
    flex-direction: column

.center
  justify-content center
  text-align center


.justify-start
  align-items flex-start


.justify-end
  justify-content flex-end


.flex-pad
  justify-content space-between


.flex-padaround
  justify-content space-around


.wrap
  flex-wrap wrap


.x-center
  align-items center


.col-1
  flex 1


.col-2
  flex 2


.col-3
  flex 3

.col-4
  flex 4

.self-end
  align-self flex-end



h2  /* Titles for pages or for more prominent tabs like About.jsx */
  color #00BDFF
  background-color #222
  padding 5px
  font-weight bold


h3  /* For side-tab-panels and any heading where there are other headings on the same page */
  color #00BDFF
  margin 0


h4
  color white
  font-weight bold
  background-color #222
  font-size 18px
  padding 5px
  text-align center
  margin: 0


h5
  font-size 18px
  color white
  font-weight bold
  margin 0


button, input[type="submit"], .custom-file-upload
  background none
  border solid 2px white
  padding 5px 10px
  font-size 16px

input.large-input[type="text"], input.large-input[type="password"], input.large-input[type="submit"]
  font-size 4rem
  padding 2rem

button.mid-button
  font-size 2.5rem
  padding 1rem

button.large-button
  font-size 3.5rem
  padding 2rem
  border-width 5px

button.inactive, input[type="submit"].inactive
  border solid 2px #666
  color #666


button:not(.inactive):hover, input[type="submit"]:not(.inactive):hover
  cursor pointer
  -moz-box-shadow 0 0 10px #ccc
  -webkit-box-shadow 0 0 10px #ccc
  box-shadow 0 0 10px #ccc


input[type='text'], input[type="password"], input
  padding 10px
  border none
  background #222
  margin 20px 10px
  margin-left 0
  font-size 16px
  outline none


input[type="checkbox"]
  margin-left 10px


input[attribute='value']
  color #C0C0C0


input[type="file"]
  display none


label
  margin-right 10px


/* Hacky thing to remove Chrome backgrounds for autofills */
input-webkit-autofill
  -webkit-box-shadow none


.login-button
  width 146px


.signup-button
  border-color #FF6000
  width 146px
  &:not(.inactive):hover
    box-shadow 0 0 10px #FF6000

.snapcode-image
  width 3in
  height 3in


a
  text-decoration none
  outline none
  color #00BDFF

a:hover, a:focus
  color #00BDFF
  text-decoration none
  outline none

.loading-screen
  display flex
  align-items center
  justify-content center
  flex 1 1


select
  background #222
  padding 5px
  border solid 2px white

select:active, select:hover, select:focus
  outline none


option
  background #333
  color white


option:hover, option:active, option:focus
  outline none


textarea
  resize none
  background-color #222
  color white
  border none
  margin 10px
  margin-left 0
  padding 10px
  height 100px


textarea:focus
  outline none

.accordion-base
  margin-bottom 20px

.accordion-tab
  padding 10px
  background-color #111
  border solid 2px white
  font-size 20px
  display flex
  justify-content space-between
  align-items center

.accordion-content
  background-color #666
  padding: 10px

label
  margin-bottom 15px


.noselect
  -webkit-touch-callout none /* iOS Safari */
  -webkit-user-select none   /* Chrome/Safari/Opera */
  -khtml-user-select none    /* Konqueror */
  -moz-user-select none      /* Firefox */
  -ms-user-select none       /* Internet Explorer/Edge */
  user-select none           /* Non-prefixed version, currently                                not supported by any browser */


.modal-content
  position relative
  background-color #666
  width 50%
  min-width 300px
  height 50%
  border-radius 0
  border none
  position relative


.no-select:hover, .no-select *hover
  cursor default !important

/* Toastr Overrides */

.toast-success
  background-color: #00BDFF

.toast-error
  background-color: #FF1951;

.toastr-warning
  background-color: #CCC114;

#toast-container > div
  border-radius: 0;

.panel
  margin 20px

.hover-orange:hover
  background-color: #FF6000;
  cursor: pointer;

.hover-lg:hover, .hover-lg.active
  background-color: #666;
  cursor: pointer;

.title
  letter-spacing: 1px
  text-transform: uppercase

.text-description
  border-left 1px white solid
  width 50%
  min-width 300px
  padding 10px 20px
  margin 10px auto

.input-label
  background-color #111
  padding: 5px
  margin: 0

.border-blue
  border-color #00BDFF

.footer-buttons
  width 100vw
  position fixed
  background-color #111
  bottom 0
  left 0
  right 0
  z-index 3

.panel-tab
  border-bottom-width 0;
  border-bottom-style solid;
  padding 5px;
  cursor pointer;
  letter-spacing 1px;
  text-transform uppercase;
  text-align center;
  margin-right 10px

.panel-tab:last-child
  margin-right 0

.panel-tab.active
  border-bottom solid 2px

.grabbing
  cursor -webkit-grabbing
  cursor grabbing
  > *
    overflow: hidden !important

.grab
  cursor -webkit-grab
  cursor grab
  > *
    overflow: hidden !important

+below(480px)
  .grabbing > *, .grab > *
    overflow: auto !important

.template-container
  z-index 2

.sidebar
  z-index 5 !important

.hover-blue:hover
  color #00BDFF

.hover-fb:hover
  color #3B5998

.hover-twitter:hover
  color #1DA1F2
