/* CSS declarations go here */

* {
  color: white;
  font-family: 'Roboto';
}

html, body, #react-root, #app {
  margin: 0;
  background-color: #333;
}

.main-layout {
  height: 100vh;
}

/* Flex rows and column stuff */

.row, .col {
  display: flex;
}

.col {
  flex-direction: column;
}

.center {
  justify-content: center;
  text-align: center;
}

.wrap {
  flex-wrap: wrap;
}

.x-center {
  align-items: center;
}

.col-1 {
  flex: 1;
}

.col-2 {
  flex: 2;
}

.col-3 {
  flex: 3;
}

.col-4 {
  flex: 4;
}

.self-end {
  align-self: flex-end;
}

button, input[type="submit"], .custom-file-upload {
  background: none;
  border: solid 2px white;
  padding: 5px 10px;
  font-size: 16px;
}

button:hover, input[type="submit"]:hover {
  cursor: pointer;
}

input[type='text'], input[type="password"], input {
  padding: 10px;
  border: none;
  background: #222;
  margin: 20px 10px;
  font-size: 16px;
  outline: none;
}

input[attribute='value'] {
  color: #C0C0C0;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

/* Hacky thing to remove Chrome backgrounds for autofills */
input:-webkit-autofill {
    -webkit-box-shadow: none;
}

/* Header style */
header {
  width: 100%;
  box-sizing: border-box;
  position:absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 20px 20px;
  display: flex;
  justify-content: flex-end;
  background: rgba(0, 0, 0, 0.5);
}

.head-align {
  display: flex;
  align-items: center;
}

.head2 {
  display: flex;
  flex-direction: row-reverse;
}

.head-margin {
  margin-right: 10px;
}

.hub:hover {
  cursor: pointer;
  -webkit-transition: border-bottom 0.5s ease-out;
  -moz-transition: border-bottom 0.5s ease-out;
  -o-transition: border-bottom 0.5s ease-out;
  transition: border-bottom 0.5s ease-out;
  border-bottom: #990000 2px solid;
}

.hub {
  padding: 4px 0;
  border-bottom: transparent 2px solid ;
  font-size: 18px;
}

.hub-bar {
  font-size: 22px;
  padding-left: 10px;
  padding-right: 10px;
  color: #CC0000;
  font-weight: bold;
}

.hub-bar:hover {
  cursor: default;
}

header a {
  margin: 0 10px;
}

a {
  text-decoration: none;
}

#app > div {
  width: 100%;
  min-height: 100vh;
}

.screen {
  position: relative;
  min-height: 100vh;
}

.screen:not(.landing-screen) > * {
  padding-top: 130px;
}

.loading-screen {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

select {
  background: #333;
  border: none;
  padding: 5px;
}

select:active, select:hover, select:focus {
  outline: none;
}

option {
  background: #333;
  color: white;
}

option:hover, option:active, option:focus {
  outline: none;
}

textarea {
  resize: none;
  background-color: #222;
  color: white;
  border: none;
  margin: 10px;
  padding: 10px;
  height: 100px;
}

textarea:focus {
  outline: none;
}

.hover-block {
  position: absolute;
  display: flex;
  z-index: 3;
}

.hover-block-arrow {
  width: 0;
  height: 0;
  margin-top: 20px;
  border-style: solid;
  border-width: 12.5px 21.7px 12.5px 0;
  border-color: transparent #111 transparent transparent;
}

.hover-block-content {
  background-color: #111;
  padding: 10px;
}

.accordion-container {
  margin-bottom: 20px;
}

.accordion-header {
  background-color: #666;
  padding: 10px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-header h3 {
  margin: 0;
}

.accordion-content {
  padding: 20px;
  background-color: #444;
}
