// External imports
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
@import "https://fonts.googleapis.com/css?family=Roboto:400,700";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";

/* CSS declarations go here */
@import "variables"

*
  color white
  font-family 'Roboto'

html, body, #react-root, #app
  margin 0
  background-color #333
  overflow-x hidden

body
  height 100%

button:focus
  outline 0

figure
  margin: 0

.bracket-line-v
  width 5px
  background-color white
  position absolute
  right 0


.match-block
  width 150px
  margin 20px 0px
  position relative
  text-align left


.match-participant
  padding 10px 5px

.match-participant span
  border solid 2px white
  padding 5px
  font-size 12px
  width calc(100% - 30px)
  display inline-block
  overflow-x hidden
  white-space nowrap
  text-overflow ellipsis
  
  
.marquee
  overflow-x hidden
  overflow-y hidden
  white-space nowrap
  text-overflow ellipsis
  
.marquee:hover
  animation marquee 5s linear infinite
  
@keyframes marquee {
  from  { text-indent:  0% }
  to    { text-indent: -120% }
}

.pointerChange
  cursor:pointer

.match-highlight:hover
  box-shadow 0 0  10px  white
  
.reset-highlight
  border-color #FF6000
  
.reset-highlight:hover
  box-shadow 0 0 10px  #FF6000
  
.match-highlight:hover .marquee
  animation marquee 5s linear infinite
  
.bracket-match-spacing
  margin-top 20px
  margin-bottom 20px

.round-spacing
  margin-right 18px
  margin-left 18px
  
.create-mod
  width 800px
  backgroud-color black
  
.match-active
  cursor pointer

.match-participant:first-child
  border-bottom solid 5px white
  margin-top -10px 
  margin-left -20px
  margin-right -20px

.match-participant:last-child
  margin-bottom -15px
  margin-left -20px
  margin-right -20px
  margin-top 5px
  
.spacing
  margin-right 18px
  margin-left 18px
  
.start-button-hide
  display none
  
.inline-button
  display inline-block
  
.logistic-layout
  border: solid
  width: 80%
  margin 0 auto
  margin-top 20px
  margin-bottom 20px

.button-score
  font-size 24px 
  padding 10px 
  background-color #333 
  margin-left 10px 
  margin-right 10px 
  margin-top 20px 
  margin-bottom 20px
  
.box
  display flex
  flex-flow column
  min-height calc(100vh - 110px)

.participant-active
  color red
  font-size 25px
  cursor pointer


.participant-inactive
  color white
  font-size 25px
  cursor pointer

.content
  top 70px
  bottom 50px
  margin-bottom 50px

/* Flex rows and column stuff */

.row
  margin-left 0
  margin-right 0

.row, .col, .col-to-row, .row-to-col
  display flex

.row:before, .row:after
  display none

.col, .col-to-row
  flex-direction column

.col-to-row
  +below(1000px)
    flex-direction: row

.row-to-col
  +below(1000px)
    flex-direction: column

.create-row
  display flex
  +below(1450px)
    flex-direction: column

.center
  justify-content center
  text-align center


.justify-start
  align-items flex-start


.justify-end
  justify-content flex-end


.flex-pad
  justify-content space-between


.flex-padaround
  justify-content space-around


.wrap
  flex-wrap wrap


.x-center
  align-items center


.col-1
  flex 1


.col-2
  flex 2


.col-3
  flex 3

.col-4
  flex 4

.self-end
  align-self flex-end



h2  /* Titles for pages or for more prominent tabs like About.jsx */
  color #00BDFF
  background-color #222
  padding 5px
  font-weight bold


h3  /* For side-tab-panels and any heading where there are other headings on the same page */
  color #00BDFF
  margin 0


h4
  color white
  font-weight bold
  background-color #222
  font-size 18px
  padding 5px
  margin 20px 20px 0 20px
  text-align center


h5
  font-size 18px
  color white
  font-weight bold
  margin 0


button, input[type="submit"], .custom-file-upload
  background none
  border solid 2px white
  padding 5px 10px
  font-size 16px
  margin-top 5px
  margin-bottom 5px


button.inactive, input[type="submit"].inactive
  border solid 2px #666
  color #666


button:not(.inactive):hover, input[type="submit"]:not(.inactive):hover
  cursor pointer
  -moz-box-shadow 0 0 10px #ccc
  -webkit-box-shadow 0 0 10px #ccc
  box-shadow 0 0 10px #ccc


input[type='text'], input[type="password"], input
  padding 10px
  border none
  background #222
  margin 20px 10px
  margin-left 0
  font-size 16px
  outline none


input[type="checkbox"]
  margin-left 10px


input[attribute='value']
  color #C0C0C0


input[type="file"]
  display none


label
  margin-right 10px


.custom-file-upload
  border 1px solid #ccc
  display inline-block
  padding 6px 12px
  cursor pointer


.font-stretch-big
  font-size calc(2vw  2vmin)


.font-stretch-mid
  font-size calc(0.5vw  0.5vmin  0.1vh)


.font-stretch-small
  font-size calc(0.5vw  0.5vmin)


.bold
  font-weight bold


/* Hacky thing to remove Chrome backgrounds for autofills */
input-webkit-autofill
  -webkit-box-shadow none


.login-button
  width 146px


.signup-button
  border-color #FF6000
  width 146px
  &:not(.inactive):hover
    box-shadow 0 0 10px #FF6000

.snapcode-image
  width 3in
  height 3in


a
  text-decoration none
  outline none
  color #00BDFF

a:hover, a:focus
  color #00BDFF
  text-decoration none
  outline none

.loading-screen
  display flex
  align-items center
  justify-content center
  flex 1 1


select
  background #333
  border none
  padding 5px


select:active, select:hover, select:focus
  outline none


option
  background #333
  color white


option:hover, option:active, option:focus
  outline none


textarea
  resize none
  background-color #222
  color white
  border none
  margin 10px
  margin-left 0
  padding 10px
  height 100px


textarea:focus
  outline none


.hover-block
  position absolute
  display flex
  z-index 3


.hover-block-arrow
  width 0
  height 0
  margin-top 20px
  border-style solid
  border-width 12.5px 21.7px 12.5px 0
  border-color transparent #111 transparent transparent


.hover-block-content
  background-color #111
  padding 10px


.accordion-container
  margin-bottom 20px
  width 100%
  &:last-child
    margin-bottom 0

.accordion-header
  background-color #666
  padding 10px
  display flex
  justify-content space-between
  align-items center


.accordion-content
  padding 20px
  background-color #444
  box-sizing border-box
  max-height 500px
  overflow-y auto


label
  margin-bottom 15px


.noselect
  -webkit-touch-callout none /* iOS Safari */
  -webkit-user-select none   /* Chrome/Safari/Opera */
  -khtml-user-select none    /* Konqueror */
  -moz-user-select none      /* Firefox */
  -ms-user-select none       /* Internet Explorer/Edge */
  user-select none           /* Non-prefixed version, currently                                not supported by any browser */


.modal-content
  position relative
  background-color #666
  width 50%
  min-width 300px
  height 50%
  border-radius 0
  border none
  position relative


.no-select:hover, .no-select *hover
  cursor default !important

/* Toastr Overrides */

.toast-success
  background-color: #00BDFF

.toast-error
  background-color: #FF1951;

.toastr-warning
  background-color: #CCC114;

#toast-container > div
  border-radius: 0;

.panel
  margin 20px
