/* CSS declarations go here */

* {
  color: white;
  font-family: 'Roboto';
}

html, body, #react-root, #app {
  margin: 0;
  background-color: #333;
}

.main-layout {
  height: 100vh;
}

/* Flex rows and column stuff */

.row, .col {
  display: flex;
}

.col {
  flex-direction: column;
}

.center {
  justify-content: center;
  text-align: center;
}

.wrap {
  flex-wrap: wrap;
}

.x-center {
  align-items: center;
}

.col-1 {
  flex: 1;
}

.col-2 {
  flex: 2;
}

.col-3 {
  flex: 3;
}

.col-4 {
  flex: 4;
}

.self-end {
  align-self: flex-end;
}

.landing-screen {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.img-background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
}

.img-background img {
  width: 100%;
  height: 100%;
}

.img-background-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
}

.main-content {
  z-index: 1;
}

.main-content h1 {
  text-align: center;
}

button, input[type="submit"] {
  background: none;
  border: solid 2px white;
  padding: 5px 10px;
  font-size: 16px;
}

button:hover, input[type="submit"]:hover {
  cursor: pointer;
}

input[type='text'], input[type="password"], input {
  padding: 10px;
  border: none;
  border-bottom: solid 2px white;
  background: none;
  margin-bottom: 20px;
  font-size: 16px;
  outline: none;
}

/* Hacky thing to remove Chrome backgrounds for autofills */
input:-webkit-autofill {
    -webkit-box-shadow: none;
}

header {
  width: 100%;
  box-sizing: border-box;
  position:absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 20px 20px;
  display: flex;
  justify-content: flex-end;
}

header a {
  margin: 0 10px;
}

a {
  text-decoration: none;
}

#app > div {
  width: 100%;
  min-height: 100vh;
}

.screen {
  position: relative;
  min-height: 100vh;
}

.screen > * {
  padding-top: 70px;
}

.loading-screen {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

select {
  background: #333;
  border: none;
  padding: 5px;
}

select:active, select:hover, select:focus {
  outline: none;
}

option {
  background: #333;
  color: white;
}

option:hover, option:active, option:focus {
  outline: none;
}
