/* CSS declarations go here */

* {
  color: white;
  font-family: 'Roboto';
}

html, body, #react-root, #app {
  margin: 0;
  background-color: #333;
}

body {
  height: 100%;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.content {
  top: 100px;
  bottom: 50px;
  margin-bottom: 50px;
}

/* Flex rows and column stuff */

.row, .col {
  display: flex;
}

.col {
  flex-direction: column;
}

.center {
  justify-content: center;
  text-align: center;
}

.justify-end {
  justify-content: flex-end;
}

.flex-pad {
  justify-content: space-between;
}

.wrap {
  flex-wrap: wrap;
}

.x-center {
  align-items: center;
}

.col-1 {
  flex: 1;
}

.col-2 {
  flex: 2;
}

.col-3 {
  flex: 3;
}

.col-4 {
  flex: 4;
}

.self-end {
  align-self: flex-end;
}

h2 {
  color: #FFD700;
  background-color: #222;
  padding: 5px;
}

button, input[type="submit"], .custom-file-upload {
  background: none;
  border: solid 2px white;
  padding: 5px 10px;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
}

button.inactive, input[type="submit"].inactive {
  border: solid 2px #666;
  color: #666;
}

button:not(.inactive):hover, input[type="submit"]:not(.inactive):hover {
  cursor: pointer;
  -moz-box-shadow: 0 0 10px #ccc;
	-webkit-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 10px #ccc;
}

input[type='text'], input[type="password"], input {
  padding: 10px;
  border: none;
  background: #222;
  margin: 20px 10px;
  margin-left: 0;
  font-size: 16px;
  outline: none;
}

input[type="checkbox"] {
  margin-left: 10px;
}

input[attribute='value'] {
  color: #C0C0C0;
}

input[type="file"] {
    display: none;
}

label {
  margin-right: 10px;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

/* Hacky thing to remove Chrome backgrounds for autofills */
input:-webkit-autofill {
  -webkit-box-shadow: none;
}

.login-button {
  width: 100px;
}

.signup-button {
  border-color: #CC0000;
  width: 100px;
}

.signup-button:not(.inactive):hover{
  -moz-box-shadow: 0 0 10px #CC0000;
	-webkit-box-shadow: 0 0 10px #CC0000;
	box-shadow: 0 0 10px #CC0000;
}

.hub:hover {
  cursor: pointer;
  -webkit-transition: border-bottom 0.5s ease-out;
  -moz-transition: border-bottom 0.5s ease-out;
  -o-transition: border-bottom 0.5s ease-out;
  transition: border-bottom 0.5s ease-out;
  border-bottom: #CC0000 2px solid;
}

.hub {
  padding: 4px 0;
  border-bottom: transparent 2px solid;
}

.hub-show {
  -webkit-animation-name: animatehubshow;
  -webkit-animation-duration: 0.4s;
  animation-name: animatehubshow;
  animation-duration: 0.4s;
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

@-webkit-keyframes animatehubshow {
  from {opacity: 0; display: none; -ms-transform: translateX(-5px); -webkit-transform: translateX(-5px); transform: translateX(-5px);}
  to {opacity: 1; display: inline; -ms-transform: translateX(0); -webkit-transform: translateX(0); transform: translateX(0);}
}

@keyframes animatehubshow {
  from {opacity: 0; display: none; -ms-transform: translateX(-5px); -webkit-transform: translateX(-5px); transform: translateX(-5px);}
  to {opacity: 1; display: inline; -ms-transform: translateX(0); -webkit-transform: translateX(0); transform: translateX(0);}
}

.hub-hide {
  -webkit-animation-name: animatehubhide;
  -webkit-animation-duration: 1.4s;
  animation-name: animatehubhide;
  animation-duration: 1.4s;
  opacity: 0;
}

@-webkit-keyframes animatehubhide {
  from {opacity: 1; display: inline; -ms-transform: translateX(0); -webkit-transform: translateX(0); transform: translateX(0);}
  to {opacity: 0; display: none; -ms-transform: translateX(-5px); -webkit-transform: translateX(-5px); transform: translateX(-5px);}
}

@keyframes animatehubhide {
  from {opacity: 1; display: inline; -ms-transform: translateX(0); -webkit-transform: translateX(0); transform: translateX(0);}
  to {opacity: 0; display: none; -ms-transform: translateX(-5px); -webkit-transform: translateX(-5px); transform: translateX(-5px);}
}

header a {
  margin: 0 10px;
}

.snapcode-image {
  width: 1in;
  height: 1in;
}

a {
  text-decoration: none;
}

.loading-screen {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

select {
  background: #333;
  border: none;
  padding: 5px;
}

select:active, select:hover, select:focus {
  outline: none;
}

option {
  background: #333;
  color: white;
}

option:hover, option:active, option:focus {
  outline: none;
}

textarea {
  resize: none;
  background-color: #222;
  color: white;
  border: none;
  margin: 10px;
  margin-left: 0;
  padding: 10px;
  height: 100px;
}

textarea:focus {
  outline: none;
}

.hover-block {
  position: absolute;
  display: flex;
  z-index: 3;
}

.hover-block-arrow {
  width: 0;
  height: 0;
  margin-top: 20px;
  border-style: solid;
  border-width: 12.5px 21.7px 12.5px 0;
  border-color: transparent #111 transparent transparent;
}

.hover-block-content {
  background-color: #111;
  padding: 10px;
}

.accordion-container {
  margin-bottom: 20px;
}

.accordion-header {
  background-color: #666;
  padding: 10px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-header h3 {
  margin: 0;
}

.accordion-content {
  padding: 20px;
  background-color: #444;
  width: 420px;
  box-sizing: border-box;
}
