
.preview-nav
  font-size 14px
  letter-spacing: 1px;
  flex 1 0 0
  align-self stretch;
  display flex;
  justify-content center;
  align-items: center;
  box-shadow 0 -2px 5px -5px #111

.preview-nav.active.blue
  box-shadow 0 -2px 5px -5px #00BDFF

.preview-nav.active.orange
  box-shadow 0 -2px 5px -5px #FF6000

.preview-nav.active
  color #111
  *
    color #111

.preview-nav:first-child
  margin-left 0

.preview-nav:last-child
  margin-right 0

.preview-nav:hover
  cursor pointer
