.description-container
  padding 40px


.location-container
  position fixed
  top 0
  padding 20px
  padding-top 120px
  background-color #666
  height 100%
  box-sizing border-box


.tier-block, .ticket-block
  padding 20px
  background-color #333
  margin 10px
  margin-left 0
  width 250px


.payment-option:hover
  cursor pointer
  background-color #333


.payment-amount
  padding 5px
  font-size 2em


.payment-amount:last-child
  border-top solid 2px white


.ticket-modal
  position absolute
  right 80px
  top 10px
  z-index 2
  opacity 0.3
  padding 10px


.ticket-modal:hover
  opacity 1

.preview-nav
  margin 0 20px

.preview-nav.active
  color #FF6000

.preview-nav:first-child
  margin-left 0

.preview-nav:last-child
  margin-right 0

.preview-nav:hover
  cursor pointer

.bracket:hover
  cursor pointer

.bracket-title
  position: absolute
  padding: 5px
  background-color rgba(0, 0, 0, 0.8)
  margin-top 0

.bracket-button
  position absolute
  bottom 0
  padding 5px
  background-color rgba(0, 0, 0, 0.8)
  width 100%
