.reward-tooltip
  position: fixed;
  width: 400px;
  padding: 20px;
  z-index: 5;
  top: 0;
  right: 0;
  background-color: #111;

.reward-tooltip img
  width: 75px;
  height: 75px;
  border-radius: 100%;
  margin-right: 20px

.reward-description *
  font-size 12px !important;
  line-height 1.5;
