.reward-preview-container
  width 20%
  background-color #333
  padding 20px
  box-sizing border-box
  margin-right 10px

.reward-preview-form
  background-color #333
  padding 20px
  margin-right 10px

.reward-preview-form:last-child
  margin-right 0

.cf-reward
  display flex
  align-items center
  padding 20px
  background-color #111

.cf-reward:hover
  cursor pointer

.cf-reward.active
  background-color #FF6000

.cf-reward .fa
  margin-right 10px
