.reward-preview-container
  width 20%
  background-color #333
  padding 20px
  box-sizing border-box
  margin-right 10px

.reward-preview-form
  background-color #333
  padding 20px
  margin-right 10px

.reward-preview-form:last-child
  margin-right 0

.cf-reward
  display flex
  align-items center
  padding 20px
  background-color #111
  margin-bottom 10px

.cf-reward:last-child
  margin-bottom 0

.cf-reward:hover
  cursor pointer

.cf-reward.active
  background-color #FF6000

.cf-reward .fa
  margin-right 10px

.reward-tooltip
  position: fixed;
  width: 400px;
  padding: 20px;
  z-index: 5;
  top: 0;
  right: 0;
  background-color: #111;

.reward-tooltip img
  width: 75px;
  height: 75px;
  border-radius: 100%;
  margin-right: 20px

.reward-description *
  font-size 12px !important;
  line-height 1.5;
