.autocomplete-form, .select-input {
  margin: 10px 0;
  width: 250px;
  position: relative;
}

.select-input:hover {
  cursor: pointer;
}

.select-active {
  background-color: #222;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.select-item-container, .autocomplete-item-container {
  max-height: 180px;
  position: absolute;
  width: 100%;
  display: none;
  overflow-y: auto;
  z-index: 2;
}

.select-item-container.active, .autocomplete-item-container.active {
  display: block;
  border-top: solid 2px white;
}

.select-item, .autocomplete-item {
  height: 30px;
  padding: 20px;
  background-color: #222;
  z-index: 2;
  line-height: 30px;
}

.select-item:hover {
  background-color: #444;
}
