.line.vert {
  width: 5px;
  height: 50px;
  background-color: white;
}

.line.horiz {
  width: calc(66% + 8px);
  height: 5px;
  background-color: white;
}

.line.horiz.half {
  width: calc(33% + 8px);
}

.line.horiz.half.no-bg {
  background: none;
  width: calc(33% + 8px);
}

.form {
  display: none;
}

.form.active {
  display: block;
}
