.line.vert 
  width 5px
  height 50px
  background-color white


.line.horiz 
  width calc(66% + 8px)
  height 5px
  background-color white


.line.horiz.half 
  width calc(33% + 6px)


.line.horiz.half.no-bg 
  width calc(33% + 2px)
  background none


.form 
  display none


.form.active 
  display block

