.note-editor.panel
  margin 0
  background-color #111

.panel-heading
  background-color #333 !important
  border-color #111 !important

.btn-default
  background-color #666
  border-color #111

.btn-default:hover
  background-color #444
  border-color #111
  box-shadow none !important

.note-editor.note-frame .note-editing-area .note-editable
  background-color #222

.note-editor.note-frame .note-statusbar
  background-color #333

.note-editor.note-frame
  border-color #111

h4.modal-title
  background none
  text-align center

.modal-header, .modal-footer
  border-color #111

.modal-footer
  display flex
  justify-content center

.modal-footer .btn-primary
  background-color #333
  border-color #111

.modal-footer .btn-primary:hover
  background-color #111
  border-color #111

.text-muted
  color #AAA

.modal.in
  display flex !important
  justify-content center
  align-items center

.modal-content
  margin 0 auto

.btn-default.active
  background-color: #111
  border: solid 1px black

.note-editable
  color white !important
