.tag
  padding 5px
  background-color #111
  display inline-block
  margin-right 5px
  margin-bottom 5px

.tag .tag-text
  margin-right 10px

.tag:hover
  cursor pointer

.tag .fa:hover
  color #FF6000
