.ticket-bg {
  background-color: #444;
  width: 300px;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
}

.ticket-form {
  padding: 20px;
  background-color: #666;
}

.ticket-form:nth-child(2n) {
  background-color: #444;
}
