.time-input input[type="text"]
  display inline-block
  width 50px
  border none
  margin 0 5px


.time-input input:first-child
  margin-left 0


.time-input select
  padding 10px
  background-color #666
