.user-details
  background-color #222
  display flex
  flex-direction column
  align-items center
  padding 0 40px 20px
  padding-top 30px
  box-sizing border-box


.user-details > *
  margin-bottom 20px


.event-details
  padding 0 50px
  box-sizing border-box
  display flex
  flex-direction column
  margin-bottom 30px


.event-list
  display flex
  flex-wrap wrap
  margin-top 20px


.event-block-container, .bracket-container
  display flex
  flex-wrap wrap
  position relative


.event-block, .bracket-block
  flex-basis calc(33% - 6.66px)
  position relative
  margin-bottom 10px
  margin-left 10px
  border solid 2px #666
  +between(1200px, 1600px)
    flex-basis calc(33% - 6.66px)
  +between(768px, 1200px)
    flex-basis calc(50% - 10px)
    font-size 1.5em
  +below(768px)
    flex-basis 100%
    font-size 2em

.event-block:nth-child(3n - 2)
  margin-left 0px
  +between(1200px, 1600px)
    margin-left 0

.event-block:nth-child(2n - 1)
  +between(768px, 1200px)
    margin-left 0

.event-block:nth-child(n)
  +below(768px)
    margin-left 0

// @media only screen
//   and (min-device-width 1200)
//   and (max-device-width 1600px){
//
//   .event-block, .bracket-block
//     flex-basis calc(33% - 6.66px)
//
//
//   .event-blocknth-child(3n - 2)
//     margin-left 0
//   }
//
//
// @media only screen and (min-device-width 768px)
//   and (max-device-width 1200px){
//     .event-block, .bracket-block
//       flex-basis calc(50% - 10px)
//       font-size 1.5em
//
//     .event-blocknth-child(2n - 1)
//       margin-left 0
// }
//
//
// @media only screen
//   and (max-device-width 768px){
//     .event-block, .bracket-block
//       flex-basis 100%
//       font-size 2em
//
//     .event-blocknth-child(n)
//       margin-left 0
// }


.event-block:hover
  cursor pointer

.event-block-container .event-block
  box-sizing border-box
  cursor pointer
  border solid 2px #666

.event-block img, .bracket-block img
  width 100%
  height auto
  box-sizing border-box
  border solid 2px #666
  border-left none
  border-right none


.bracket-block span
  position absolute
  left 20px
  bottom 20px
  background-color rgba(0, 0, 0, 0.7)


.event-block-title
  background-color #222
  color white
  text-align left
  margin 0
  padding 20px
  border-bottom none


.event-block-content
  padding 10px 20px
  border-top none
  position relative
  background-color #222


.event-display
  height calc(33vh - 40px)
  margin-top 40px


.event-display-img
  height 100%
  width auto
  float left
  margin-right 2.5%


.event-display-details
  float left
  width 45%


.event-title
  font-weight bold
  font-size 24px
  margin-bottom 10px


.description-container
  margin-bottom 20px
  line-height 1.5em


.description-container img
  margin 0 auto
  display block
  max-width 100%
  height auto


ul.error-container
  padding 10px
  border solid white 2px
  display inline-block
  margin 20px
  max-width 33%
  list-style-type none


.error-container li
  margin-bottom 10px
  line-height 1.2em


.profile-photo
  width 200px
  height 200px
  border-radius 100%
  position relative


.image-overlay
  width 100%
  height 100%
  border-radius 100%
  background-color rgba(0, 0, 0, 0.7)
  position absolute
  top 0
  left 0
  display flex
  justify-content center
  align-items center


.image-overlay:hover
  cursor pointer


.user-divider
  width 75%
  border 0
  height 0
  border-top 1px solid rgba(0, 0, 0, 0.1)
  border-bottom 1px solid rgba(255, 255, 255, 0.3)
