.user-details
  background-color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px 20px;
  padding-top: 30px;
  box-sizing: border-box;


.user-details > *
  margin-bottom: 20px;


.event-details
  padding: 0 50px;
  box-sizing: border-box;
  display flex
  flex-direction column
  margin-bottom 30px


.event-list
  display flex
  flex-wrap wrap
  margin-top 20px


.event-block-container, .bracket-container
  display flex
  flex-wrap wrap
  position relative


.event-block, .bracket-block
  width calc((100% - 20px) / 3)
  position relative
  margin-bottom 10px
  margin-left 10px

  +between(1000px, 1400px)
    width calc((100% - 10px) / 2)
    font-size 1.5em

  +below(1000px)
    margin-left 0
    width 100%
    font-size 2em

+above(1400px)
  .event-block:nth-child(3n - 2)
    margin-left 0px

+between(1000px, 1400px)
  .event-block:nth-child(2n - 1)
    margin-left 0

.event-block:hover
  cursor pointer

.event-block-container .event-block
  box-sizing border-box
  cursor pointer

.event-block-img
  width 100%
  padding-bottom calc(100% * 9 / 16)
  background-size cover
  background-position center center
  border solid 2px #666
  border-top none
  border-bottom none
  box-sizing border-box

.bracket-block span
  position absolute
  left 20px
  bottom 20px
  background-color rgba(0, 0, 0, 0.7)


.event-block-title
  color white
  text-align left
  margin 0
  padding 29px 20px
  text-overflow ellipsis
  overflow-x hidden
  white-space nowrap;

.event-block-content
  height: 95px;
  padding 20px
  background-color #222
  border solid 2px #666
  display: flex
  align-items: center

.event-block-nav
  padding 10px 20px
  background-color rgba(0, 0, 0, 0.5)

.event-block-nav .fa
  margin-right: 20px
  font-size 24px

.event-block-nav .fa:hover
  color: #FF6000

.event-block-nav .fa:last-child
  margin-right 0

.event-display
  height calc(33vh - 40px)
  margin-top 40px

.event-display-img
  height 100%
  width auto
  float left
  margin-right 2.5%


.event-display-details
  float left
  width 45%


.event-title
  font-weight bold
  font-size 24px
  margin-bottom 10px

.promoted-event-block
  width 50%
  +between(1000px, 1400px)
    width 80%
  +below(1000px)
    width 100%

.description-container
  margin-bottom 20px
  line-height 1.5em


.description-container img
  margin 0 auto
  display block
  max-width 100%
  height auto

ul.error-container
  padding 10px
  border solid white 2px
  display inline-block
  margin 20px
  max-width 33%
  list-style-type none


.error-container li
  margin-bottom 10px
  line-height 1.2em


.profile-photo
  width 200px
  height 200px
  border-radius 100%
  position relative


.image-overlay
  width 100%
  height 100%
  border-radius 100%
  background-color rgba(0, 0, 0, 0.7)
  position absolute
  top 0
  left 0
  display flex
  justify-content center
  align-items center


.image-overlay:hover
  cursor pointer


.user-divider
  width 75%
  border 0
  height 0
  border-top 1px solid rgba(0, 0, 0, 0.1)
  border-bottom 1px solid rgba(255, 255, 255, 0.3)

.user-tab
  padding 5px
  font-size 24px
  border-bottom solid 2px white
  margin-right 10px

.category-header
  width: 200px
  
.blue:hover
  border-color #00BDFF
  
.orange:hover
  border-color #FF6000
