.user-details {
  background-color: #1E1E5D;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.user-details > * {
  margin-bottom: 20px;
}

.event-details {
  padding: 30px 50px;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.event-block {
  width: 31%;
  height: 16vh;
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
}

.event-block:nth-child(3n) {
  margin-right: 0px;
}

.event-block img {
  height: 100%;
  width: auto;
}

.event-display {
  height: 33vh;
}

.event-display-img {
  height: 100%;
  width: auto;
  float: left;
  margin-right: 5%;
}

.event-display-details {
  float: left;
  width: 45%;
}

.profile-photo {
  width: 50%;
  height: auto;
  border-radius: 100%;
}
