.user-banner {
  width: 100%;
  height: 50vh;
  position: relative;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.user-img-line {
  position: absolute;
  width: 100%;
  top: calc(100% - 100px);
}

.user-game-icon {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-left: 40px;
  position: relative;
  background-size: auto 100%;
  background-position: center;
}

.user-game-icon-ribbon {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 0;
  right: 0;
}

.user-profile-image {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-size: cover;
  margin-right: 40px;
  position: relative;
}

.user-profile-overlay {
  position: absolute;
  left: -1px;
  top: -1px;
  width: 202px;
  height: 202px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.user-profile-image:hover .user-profile-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.user-events-container {
  padding: 40px;
  margin-top: 42px;
}
