.staff-block {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #666;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 200px;
}

.staff-block:last-child {
  margin-right: 0;
}

.staff-block img {
  width: 100%;
  height: 200px;
  margin: 20px 0;
}

.staff-block span {
  font-size: 1.4em;
  font-weight: bold;
}
