.bracket-block
  width 33%
  border solid 2px #666


.bracket-block:hover
  cursor pointer


.bracket-block img
  width 100%
  height auto

.bracket-block div
  padding 20px

.swiss-tabs
  margin-bottom 20px

.swiss-tab-header
  margin-right 20px
  padding-bottom 5px
  border-bottom solid 2px white
  font-size 18px

.swiss-tab-header.active
  border-color #FF6000

.swiss-tab-header:last-child
  margin-right 0

.swiss-tab-header:hover
  cursor pointer

.swiss-row
  background-color #666
  padding 20px

.swiss-row:nth-child(2n)
  background-color #222

.swiss-header
  font-weight bold
  font-size 20px
  flex 1
  text-align center

.swiss-entry
  flex 1
  text-align center

.swiss-match.row
  padding 20px
  background-color #666
  margin-right 20px
  margin-bottom 20px
  box-sizing border-box
  +above(1200px)
    width calc(25% - 15px)
  +between(800px, 1200px)
    width calc(50% - 20px)
  +below(800px)
    width 100%
    margin-right 0

+above(1200px)
  .swiss-match:nth-child(4n)
    margin-right 0
+between(800px, 1200px)
  .swiss-match:nth-child(2n)
    margin-right 0

.swiss-match:hover
  cursor pointer

.swiss-match.complete
  opacity: 0.3

.swiss-player
  width 100px

.swiss-player:first-child
  margin-right 20px

.swiss-player:last-child
  margin-left 20px

.swiss-match:hover .marquee
  animation marquee 5s linear infinite

.winner
  color #FF6000
  opacity 1

.marquee
  overflow-x hidden
  overflow-y hidden
  white-space nowrap
  text-overflow ellipsis

.marquee:hover
  animation marquee 5s linear infinite

@keyframes marquee {
  from  { text-indent:  0% }
  to    { text-indent: -120% }
}

.button-score
  font-size 24px
  padding 10px
  background-color #333

.participant
  display: flex
  align-items stretch;
  border solid 2px white
  box-sizing border-box
  margin-left 10px

.participant > *
  padding: 5px
  display: flex
  align-items center

.participant .player
  background-color: #111

.participant .score
  background-color #FF6000
  padding 5px 10px

.match:hover
  cursor: pointer

.bracket-bar
  width: calc(33% - 20px);
  margin-right: 20px !important;
  margin-bottom 20px

.bracket-bar:hover
  cursor: pointer;
