.bracket-block {
  width: 33%;
  border: solid 2px #666;
}

.bracket-block:hover {
  cursor: pointer;
}

.bracket-block img {
  width: 100%;
  height: auto;
}

.bracket-block div {
  padding: 20px;
}
