.pac-container {
  background-color: #555;
  border-top: solid 1px #333;
  border-radius: 0;
  padding-bottom: 5px;
}

.pac-item {
  background-color: #555;
  border-top: solid 1px #333;
}

.pac-item:hover {
  background-color: #444;
}

.pac-item:last-child {
  margin-bottom: 5px;
}
