.currency-input-container
  position relative
  width 100%
  margin-bottom 10px
  display flex
  flex-direction column


.currency-symbol
  position absolute
  top 3.5px
  left 5px


.currency-input-container input[type="text"]
  margin 0
  padding-left 30px
