.reward-bd-block
  padding 20px

.reward-bd-block img
  margin-right 20px

.reward-bd-block span
  font-size 2em

.reward-bd-block p
  font-size 1.2em
  line-height 1.3

.tier-header
  font-size 2em
  margin 10px 0

.tier-description
  font-size 1.2em
  margin 10px 0
