.selectable {
  max-width: 100px;
  margin: 10px 20px 0 0;
}

.selectable:hover {
  cursor: pointer;
}

.selectable img {
  width: 100%;
  height: auto;
}

.selectable.active {
  border-color: #FF6000;
}

.selectable.active img {
  border-color: #FF6000;
}

.selectable.active div {
  color: #FF6000;
}
