.selectable
  max-width 100px
  margin 10px 20px 0 0


.selectable:hover
  cursor pointer


.selectable img
  width 100%
  height auto


.selectable.active
  border-color #FF6000


.selectable.active img
  border-color #FF6000


.selectable.active div
  color #FF6000


.sub-section-select
  background-color #333
  padding 20px
  margin 10px


.sub-section-select:hover
  cursor pointer

.sub-section-select.active
  background-color #FF6000

.category-header:hover, .category-item:hover
  cursor pointer

.category-header
  padding 15px 20px
  border solid 2px #666
  border-bottom none

.category-header.active
  background-color #FF6000

.category-section
  align-items stretch
  text-align left
  margin-bottom 10px
  background-color #333
  border solid 2px #666
  border-top none

.category-section.inactive
  height 0
  overflow-y hidden

.category-item
  padding 20px
  border-top solid 2px #666

.category-item.active
  color #FF6000
