.tab-container {
  flex: 1 1;
}

.tab-icon {
  padding: 20px;
}

.tab-content {
  flex: 1 1;
  padding: 20px;
}

.tab-menu {
  background-color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab-menu-item {
  align-self: stretch;
  text-align: center;
}

.tab-header, .tab-subtext {
  padding: 20px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.tab-header span {
  display: inline-block;
}

.tab-header .fa, .tab-subtext .fa {
  width: 50px;
  text-align: center;
  margin-right: 10px;
}

.tab-text {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.tab-subtext {
  font-size: 12px;
}

.tab-menu-item:hover .tab-header, .tab-menu-item:hover .tab-icon {
  background-color: #666;
  cursor: pointer;
}

.tab-menu-item.active .tab-header,  .tab-menu-item.active .tab-icon {
  background-color: #C00;
}

.tab-subtext:hover {
  cursor: pointer;
}

.tab-menu-item .tab-subtext:not(.active):hover span {
  color: #AAA;
}

.tab-subtext.active span {
  color: #C00;
}

.tab-menu .tab-text, .tab-menu.active .tab-icon {
  display: none;
}

.tab-menu.active .tab-text {
  display: flex;
  flex-direction: column;
}

.subitem-nav {
  padding: 20px;
  background-color: #666;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
}
