.tab-container
  flex 1 1


.tab-icon
  padding 20px


.tab-content
  display inline-block
  flex 1 1
  padding 20px
  height calc(100vh - 110px)
  overflow-y auto

.tab-menu
  background-color #222
  display inline-flex
  flex-direction column
  align-items center
  overflow-y auto
  height calc(100vh - 110px)
  float left;

.tab-menu-item
  align-self stretch
  text-align center

.tab-header, .tab-subtext
  padding 20px
  display flex
  align-items center
  padding-left 0


.tab-header:hover
  cursor pointer


.tab-header span
  display inline-block


.tab-header .fa, .tab-subtext .fa
  width 50px
  text-align center
  margin-right 10px


.tab-text
  display flex
  flex-direction column
  text-align left
  width 100%


.tab-subtext
  font-size 12px


.tab-menu-item:hover .tab-header, .tab-menu-item:hover .tab-icon
  background-color #666
  cursor pointer


.tab-menu-item.active .tab-header,  .tab-menu-item.active .tab-icon
  background-color #FF6000


.tab-subtext:hover
  cursor pointer


.tab-menu-item .tab-subtext:not(.active):hover span
  color #AAA


.tab-subtext.active span
  color #FF6000


.tab-menu .tab-text, .tab-menu.active .tab-icon
  display none


.tab-menu.active .tab-text
  display flex
  flex-direction column


.subitem-nav
  padding 20px
  background-color #666
  margin-right 10px
  margin-bottom 10px
  display inline-block
  width 104px
  height 104px
  box-sizing content-box


.subitem-nav:hover
  cursor pointer
  color #FF6000


.subitem-nav:last-child
  margin-right 0
