.ticket-select
  display flex
  justify-content space-between
  align-items center
  padding 20px
  width 300px
  margin-bottom 20px
  background-color #333


.ticket-select:hover, .ticket-select.active
  background-color #3A3
  cursor pointer


.tier-select
  padding 20px
  width 300px
  margin-bottom 20px
  background-color #333


.tier-select.active, .tier-selecthover
  background-color #3A3
  cursor pointer
